# TO REPLACE: branch
azure-functions
azure-functions-durable
azure-identity
azure-keyvault-secrets
azure-storage-blob
azure-storage-queue
requests
aiohttp
aiolimiter
aiometer
pymongo
lxml
git+https://${GIT_MACHINE_USER}:${GIT_MACHINE_TOKEN}@github.com/TCGDataSci/PyTcgds.git#egg=tcgds